---
import Section from "../Section.astro";

import {skills} from '@cv'
---

<Section title="Skills">
<ul>
    {skills.map(({name}) => {
        return(
            <li>
               <span>{name}</span>
            </li>
        );
    })}
    
</Section>

<style>
    ul{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    li{
        background-color: #eee;
        color: black;
        padding: .2rem .6rem;
        border-radius: 6px;
        font-size: .8rem;
        font-weight: 500;
    }
</style>